{% comment %}
{% include 'subSaveDrawer' %}
{% endcomment %}

{% if product.id != 4842513367120 %}
<style>
  #prodDetails #AddToCartForm select { display: none; }
  
  afterpay-placement { 
    --logo-badge-width: 70px;
    }
</style>
{% endif %}

<div id="prodDetails" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="USD">
  <meta itemprop="name" content="{{ product.title }}" />
  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
  <p class="prodSubtitle">{{ product.metafields.accentuate.prod_subtitle }}</p>

  <div class="prodTitleContainer mb-sm-4">
    <h1 class="prodTitle">
      {{ product.title }}
      <div class="prodTitlePrices">
        <span class="compareAtPrice productPadding">
          	{{ product.compare_at_price | money }}
        </span> 
        <span class="price" itemprop="price">{{ product.price | money }}</span>

      </div>
    </h1>
    
  </div>
  

  
  <div class="prodDesc" itemprop="description">{{ product.description }}</div>

  <!--<p class="subSave" id="subSaveTrigger">Ship every 30 days</p>-->

  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" data-productid="{{product.id}}">
    {% if product.available %}{% include 'subscription-product' %}{% endif %}
      {% if select_subscription_first %}
           {% if subscription_only %}
    			<input name="properties[original_price]" type="hidden" value="{{ product.compare_at_price }}" />
            {% else %}
          		<input name="properties[original_price]" type="hidden" value="{{ product.price }}" />
          	{% endif %}
          {% else %}
          	<input name="properties[original_price]" type="hidden" value="{{ product.compare_at_price }}" />
      {% endif %}
      <select name="id" id="productSelect" data-productid="{{product.id}}">
        {% for variant in product.variants %}
          {% unless variant.metafields.secomapp.freegifts %}
          {% unless variant.title contains '(Freegifts)' %}

                  {% if variant.available %}
                    <option value="{{ variant.id }}">
                      {% if product.id != 4842513367120 %}{{ variant.title }} - {% endif %}{{ variant.price | money_with_currency }}
                    </option>
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - sold out
                    </option>
                  {% endif %}

          {%endunless%}
          {%endunless%}
        {% endfor %}
      </select>
    

    <div class="">
      <span>{{ current_variant.price | money }}</span>
    </div>
    

    <!--<label for="Quantity">quantity</label>-->
    <input style="visibility:hidden;" type="number" id="Quantity" name="quantity" value="1" min="1">
    
    <p>

      {% if product.available %}
          		<input type="submit" name="add" id="AddToCart" class="btn btnMain mt-0 addToCartTrigger" value="Add to cart">
	  {% else %}
      {% endif %}
    </p>
  </form>


</div>

