{% include 'subSaveDrawer' %}

{% if product.id != 4842513367120 %}
<style>
  #prodDetails #AddToCartForm select { display: none; }
  
  afterpay-placement { 
    --logo-badge-width: 70px;
    }
</style>
{% endif %}

<div id="prodDetails" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="USD">
  <meta itemprop="name" content="{{ product.title }}" />
  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
  <p class="prodSubtitle">{{ product.metafields.accentuate.prod_subtitle }}</p>

  <div class="prodTitleContainer mb-sm-4">
    <h1 class="prodTitle">
      {{ product.title }}
      <div class="prodTitlePrices">
        <span class="compareAtPrice productPadding">
          	{{ product.compare_at_price | money }}
        </span> 
        <span class="price" itemprop="price">{{ product.price | money }}</span>

      </div>
    </h1>
    
  </div>
  

  
  <div class="prodDesc" itemprop="description">{{ product.description }}</div>

  <!--<p class="subSave" id="subSaveTrigger">Ship every 30 days</p>-->

  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" data-productid="{{product.id}}">
    {% if product.available %}{% include 'subscription-product' %}{% endif %}
      {% if select_subscription_first %}
           {% if subscription_only %}
    			<input name="properties[original_price]" type="hidden" value="{{ product.compare_at_price }}" />
            {% else %}
          		<input name="properties[original_price]" type="hidden" value="{{ product.price }}" />
          	{% endif %}
          {% else %}
          	<input name="properties[original_price]" type="hidden" value="{{ product.compare_at_price }}" />
      {% endif %}
      <select name="id" id="productSelect" data-productid="{{product.id}}">
        {% for variant in product.variants %}
          {% unless variant.metafields.secomapp.freegifts %}
          {% unless variant.title contains '(Freegifts)' %}

                  {% if variant.available %}
                    <option value="{{ variant.id }}">
                      {% if product.id != 4842513367120 %}{{ variant.title }} - {% endif %}{{ variant.price | money_with_currency }}
                    </option>
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - sold out
                    </option>
                  {% endif %}

          {%endunless%}
          {%endunless%}
        {% endfor %}
      </select>
    

    <div class="">
      <span>{{ current_variant.price | money }}</span>
    </div>
    

    <!--<label for="Quantity">quantity</label>-->
    <input style="visibility:hidden;" type="number" id="Quantity" name="quantity" value="1" min="1">
    
    <p>
      {% if template == "product.alternate" %}
        {% if product.available %}
        <input type="submit" name="add" id="AddToCart" class="btn btnMain mt-0 addToCartTrigger" value="Add to cart">
        {% else %}

        <input disabled type="submit" name="add" id="AddToCart" class="btn btnMain" value="Sold Out">
        {% endif %}
      {% else %}
        {% if product.available %}
          		<input type="submit" name="add" id="AddToCart" class="btn btnMain mt-0 addToCartTrigger" value="Add to cart">
        {% else %}

          {% if product.id == 4346295255120 %}
  <!--    Core Dietary Supplement    -->
            <a class="btn btnMain mt-4" data-toggle="modal" data-target="#oosModal">Join the Waitlist</a>

            <!-- Modal -->
            <div class="modal fade" id="oosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="klaviyo-form-YxBTYe"></div>
                  </div>
                </div>
              </div>
            </div>

            {% elsif product.id== 4349369286736 %}

  <!--    The Essential Bundle    -->
            <a class="btn btnMain mt-4" data-toggle="modal" data-target="#oosModal">Join the Waitlist</a>

            <!-- Modal -->
            <div class="modal fade" id="oosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="klaviyo-form-VHwEGv"></div>
                  </div>
                </div>
              </div>
            </div>

            {% elsif product.id== 4851327402064 %}

  <!--    Full Regimen    -->
            <a class="btn btnMain mt-4" data-toggle="modal" data-target="#oosModal">Join the Waitlist</a>

            <!-- Modal -->
            <div class="modal fade" id="oosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="klaviyo-form-YqpBZV"></div>
                  </div>
                </div>
              </div>
            </div>

            {% elsif product.id== 4841930784848 %}

  <!--    Rise & Shine Regimen    -->
            <a class="btn btnMain mt-4" data-toggle="modal" data-target="#oosModal">Join the Waitlist</a>

            <!-- Modal -->
            <div class="modal fade" id="oosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="klaviyo-form-SBXFKw"></div>
                  </div>
                </div>
              </div>
            </div>

            {% elsif product.id== 4821159116880 %}

  <!--    24-Hour Relief Regimen    -->
            <a class="btn btnMain mt-4" data-toggle="modal" data-target="#oosModal">Join the Waitlist</a>

            <!-- Modal -->
            <div class="modal fade" id="oosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="klaviyo-form-UwszHy"></div>
                  </div>
                </div>
              </div>
            </div>

            {% elsif product.id== 4843438768208 %}

  <!--    Awake Duo    -->
            <a class="btn btnMain mt-4" data-toggle="modal" data-target="#oosModal">Join the Waitlist</a>

            <!-- Modal -->
            <div class="modal fade" id="oosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="klaviyo-form-U9Uybt"></div>
                  </div>
                </div>
              </div>
            </div>

            {% elsif product.id== 4840008024144 %}

  <!--    Sweet Dreams Duo    -->
            <a class="btn btnMain mt-4" data-toggle="modal" data-target="#oosModal">Join the Waitlist</a>

            <!-- Modal -->
            <div class="modal fade" id="oosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="klaviyo-form-UaYyec"></div>
                  </div>
                </div>
              </div>
            </div>

            {% elsif product.id== 4851329171536 %}

  <!--    Supplement Super Bundle    -->
            <a class="btn btnMain mt-4" data-toggle="modal" data-target="#oosModal">Join the Waitlist</a>

            <!-- Modal -->
            <div class="modal fade" id="oosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="klaviyo-form-SSkcN5"></div>
                  </div>
                </div>
              </div>
            </div>

            {% else %}

            <input disabled type="submit" name="add" id="AddToCart" class="btn btnMain" value="Sold Out">

          {% endif %}

        {% endif %}
      {% endif %}
    </p>
  </form>
{% if template == "product.alternate" %}
	<p class="freeShippingNote">Free shipping</p>
{% elsif  product.id != 4842513367120 %}
  	<p class="freeShippingNote">Free shipping <span>&bull;</span> 30 day returns<!-- <span>&bull;</span> Discrete Delivery --></p>
{% endif %}

</div>

<script>
  $(document).ready(function(){
	$("afterpay-placement")[0].shadowRoot.querySelector(".afterpay-paragraph").setAttribute("style", "font-size:13px");
  });
</script>
