<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>{{ shop.name }}</title>

  <meta name="description" content="">


  {{ content_for_header }}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

  {{ 'general.scss.css' | asset_url | stylesheet_tag }}
  {{ 'slick.css' | asset_url | stylesheet_tag }}
  {{ 'drawer.scss.css' | asset_url | stylesheet_tag }}
  
  {% if template == 'index' %}
    {{ 'index.scss.css' | asset_url | stylesheet_tag }}
  {% elsif template contains 'collection' %}
    {{ 'collection.scss.css' | asset_url | stylesheet_tag }}
  {% elsif template contains 'product' %}
    {{ 'product.scss.css' | asset_url | stylesheet_tag }}
  {% elsif template contains 'blog' %}
    {{ 'blog.scss.css' | asset_url | stylesheet_tag }}
  {% elsif template contains 'article' %}
    {{ 'article.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  
  

</head>

<body>
  
  {% section 'mobile-menu' %}


  <div class="slideOutCover"></div>

  {% section 'theme-header' %}
  
  {% section 'drawer' %}
  
  {{ content_for_layout }}
  
  {% include 'ajaxify-cart' %}

  {{ 'general.js' | asset_url | script_tag }}
  
  
  {{ 'slick.min.js' | asset_url | script_tag }}
</body>
</html>
